
.fa fa-remove {
    background-color: gray;
    color: white;
    font-size: 6px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.fa fa-remove:hover {
    background-color: darkgray;
}
.quantity{
    width: 5px;
    margin: auto;
}
.minus,plus{

    display: inline-block;
    padding: 2px;


}

