<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts::header">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>


<body>
<nav th:replace="layouts :: Navbar" ></nav>

        <h3>My Shopping Cart:</h3>


    <div>
        <table class="table table-striped">

            <thead>
            <tr>

                <th> Item Name</th>
                <th> Qty </th>
                <th> total price </th>
                <th> delete item </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each=" ItemList:${items}">
                <td th:text="${ItemList.name}"/>
                <div>
                    <td> <input type="number" name="quantity" min="0" value="1" /></td>

                    <td ><strong th:text="'€'+${ItemList.price}"></strong></td>
                </div>

                <td> <i class="fas fa-trash-alt mr-1"></i>  </td>
            </tr>
            </tbody>


            <!-- TODO: adding payment method  to the cart -->
        </table>
    </div>



</body>
</html>